<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="shortcut icon" href="img/favicon.ico">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
  <title>Owen Schebella</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <!-- header -->
  <header id="site_header">

    <!-- logo -->
    <a id="logo" href="/">
      <img src="img/avatar.jpg" alt="logo">
      Owen Schebella
    </a>

    <!-- main navigation -->

    <nav id="main-navigation">
      <ul>
        <li><a href="/contact">Get in touch!</a></li>
      </ul>
    </nav>

  </header>


<!-- MAIN CONTENT HERE-->
<%- defineContent('hero') %>
<%- defineContent('contact-form') %>
<%- defineContent('learnings-headings') %>


  <footer id="footer">
    <img src="img/avatar.jpg" alt="Footer logo">
    <span>Owen Schebella<br>Copyright &copy; 2016</span>
  </footer>


</body>
</html>
